body {
    background-color: #ff9900;
}

.header {
    margin-top: 2em;
    width: 100%;
    text-align: center;
}

.header-title {
    font-family: Lucida Sans Typewriter, Lucida Typewriter;
    font-size: 52px;
    font-style: italic;
    font-variant: normal;
    font-weight: 500;
    line-height: 23px;
    margin-bottom: 0;

    color: #ffe600;
}

.header-subtitle {
    font-family: Lucida Sans Typewriter, Lucida Typewriter;
    font-size: 16px;
    font-style: italic;
    font-variant: normal;
    font-weight: 300;
    line-height: 23px;

    color: #ffe600;
    text-decoration: underline;
}